<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZejdaGram</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header class="header">
        <h1 id="titles">--ZejdaGram--</h1>
        <a href="/posts/new">Nytt Inl채gg</a>
    </header>
    <hr />
    <div class="main-content">
        <div class="content">
            <h2>Alla inl채gg</h2>
            <div class="content-items">
                <ul>
                    <% posts.forEach((post, index) => { %>
                    <li>
                        <a href="/posts/<%= index %>"><%= post.title %></a>
                    </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; 2024 My Blog. All rights reserved.</p>
        <!-- Man kan anv채nda denna kod om man vill ha extra l채nkar i sin bloggsida-->
        <!-- <div class="footer-links">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Privacy Policy</a>
        </div> -->
    </footer>
</body>
</html>
