<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZejdaGram nytt inl채gg</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="header">
      <h1 id="titles">Skapa nytt inl채gg</h1>
    </div>
    <div class="content">
      <form action="/posts" method="post">
        <label for="title">Titel</label><br />
        <input type="text" id="title" name="title" /><br />
        <label for="content">Inneh책ll</label><br />
        <textarea id="content" name="content"></textarea><br /><br />
        <button type="submit">Skapa inl채gg</button>
      </form>
    </div>
  </body>
</html>
